.sectionOne {
    background-color: #F4F5F8;
    min-height: 100vh;

    .title {
        height: 30%;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 100px;
        margin-bottom: 0;

        .comfort-test-description {
            color: #1B2F76;
            font-size: 3rem;
            margin-top: 60px;
            font-weight: 300;
            margin-bottom: 0;
        }

        .comfort-test-info {
            color: #000;
            font-weight: 300;
            font-size: 1.5rem;
        }
    }

    .infoDiv {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 100px;

        .photo {
            margin-top: 40px;
            border-radius: 25px;
            width: 43%;
        }

        .infoPhoto {
            margin-top: 40px;
            margin-left: 80px;
            align-items: center;
            width: 42%;

            .try-before-you-buy {
                font-family: 'Playfair Display', serif;
                font-style: italic;
                font-size: 2rem;
                font-weight: 400;
                text-align: left;
            }

            .info {
                font-family: 'Lato', sans-serif;
                font-size: 1.05rem;
                color: #000;
                line-height: 1.8rem;

            }

            .findStoreBtn {
                width: 60%;
                height: 50px;
                border-radius: 25px;
                background-color: #1B2F76;
                color: white;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                transition: background-color 0.3s ease;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 40px;

                &:hover {
                    background-color: #BF002D;
                }
            }
        }
    }
}

.sectionTwo {
    margin-top: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    .secondTitle {
        height: 120px;
        width: 88%;
        display: flex;

        font-size: 2.3rem;
        font-family: 'Playfair Display', serif;
        font-weight: 300;
        align-items: center
    }

    .durability {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 320px;
        margin-top: 20px;
        padding-left: 50px;

        .comfortDiv {
            width: 30%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;


            .like {
                width: 60px;
                height: 60px;
                margin-bottom: 10px;
                /* Додайте інші стилі, якщо потрібно */
            }

            .comfortTitle {
                font-family: 'Lato', sans-serif;
                font-size: 1.3rem;
                color: #1B2F76;
                margin-top: 10px;
                margin-bottom: 15px;
            }

            .by-testing-a-matters {
                font-size: 1.2rem;
                font-family: 'Lato', sans-serif;
                line-height: 1.6rem;
            }
        }

        .supportDiv {
            width: 30%;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding: 0 35px;
            border-left: 1px solid #1B2F76;
            border-right: 1px solid #1B2F76;


            .supportTitle {
                font-family: 'Lato', sans-serif;
                font-size: 1.3rem;
                color: #1B2F76;
                margin-top: 10px;
                margin-bottom: 15px;

            }

            .bed {
                width: 60px;
                height: 60px;
                margin-bottom: 10px;
            }
        }

        .in-store-testing-allow {
            font-size: 1.2rem;
            font-family: 'Lato', sans-serif;
            line-height: 1.6rem;
        }
    }

    .qualityDiv {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 20px;

        .medal {
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
        }

        .qualityTitle {
            font-family: 'Lato', sans-serif;
            font-size: 1.3rem;
            color: #1B2F76;
            margin-top: 10px;
            margin-bottom: 15px;

        }

        .it-allows-you-to-assess {
            font-size: 1.2rem;
            font-family: 'Lato', sans-serif;
            line-height: 1.6rem;
        }
    }
}


.sectionTwoBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    .button {


        &:hover {
            background-color: #BF002D;
        }
    }
}

/*ширина шрифту 0.9-0.5*/
@media (max-width: 1440px) {
    .sectionOne {
        background-color: #F4F5F8;
        min-height: 100vh;
    }

    .title {
        height: 30%;
        font-family: 'Lato', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 100px;
        margin-bottom: 0;
    }

    .comfort-test-description {
        color: #1B2F76;
        font-size: 3rem;
        margin-top: 60px;
        font-weight: 300;
        margin-bottom: 0;
    }

    .comfort-test-info {
        color: #000;
        font-weight: 300;
        font-size: 1.5rem;
    }


    .infoDiv {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 100px;
    }

    .photo {
        margin-top: 40px;
        border-radius: 25px;
        width: 43%;
    }

    .infoPhoto {
        margin-top: 40px;
        margin-left: 80px;
        align-items: center;
        width: 42%;
    }

    .try-before-you-buy {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 2rem;
        font-weight: 400;
        text-align: left;
    }

    .info {
        font-family: 'Lato', sans-serif;
        font-size: 1.05rem;
        color: #000;
        line-height: 1.8rem;

    }

    .findStoreBtn {
        width: 60%;
        height: 50px;
        border-radius: 25px;
        background-color: #1B2F76;
        color: white;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;


    }

    .sectionTwo {
        margin-top: 70px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    .secondTitle {
        height: 120px;
        width: 88%;
        display: flex;

        font-size: 2.3rem;
        font-family: 'Playfair Display', serif;
        font-weight: 300;
        align-items: center
    }

    .durability {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 320px;
        margin-top: 20px;
        padding-left: 50px;
    }

    .comfortDiv {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }

    .like {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
        /* Додайте інші стилі, якщо потрібно */
    }

    .comfortTitle {
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        color: #1B2F76;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .by-testing-a-matters {
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        line-height: 1.6rem;
    }


    .supportDiv {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0 35px;
        border-left: 1px solid #1B2F76;
        border-right: 1px solid #1B2F76;

    }

    .supportTitle {
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        color: #1B2F76;
        margin-top: 10px;
        margin-bottom: 15px;

    }

    .bed {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    .in-store-testing-allow {
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        line-height: 1.6rem;
    }

    .qualityDiv {
        width: 30%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 20px;
    }

    .medal {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    .qualityTitle {
        font-family: 'Lato', sans-serif;
        font-size: 1.3rem;
        color: #1B2F76;
        margin-top: 10px;
        margin-bottom: 15px;

    }

    .it-allows-you-to-assess {
        font-size: 1.2rem;
        font-family: 'Lato', sans-serif;
        line-height: 1.6rem;
    }


    .sectionTwoBtn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
