body {
    margin: 0;
    background-color: #F4F5F8;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom: 2px solid rgb(238, 237, 237);


    .firstHeader {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
        min-width: 100%;

        .Logo {
            width: 15%;
            margin-left: 100px;
        }

        .Info {
            width: 15%;
            font-size: 1.1rem;
            margin-left: 25px;
            color: #1B2F76;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .time {
                color: black;
                font-weight: 300;
            }

            .Richmond {
                font-family: 'Lato', sans-serif;
                font-weight: 600;

                .Vector {
                    margin-right: 4px;
                }

                .secondVector {
                    margin-left: 2px;
                    height: 9px;
                }
            }
        }

        .searchDiv {
            border-radius: 20px;
            background-color: rgba(27, 47, 118, 0.05);
            width: 25%;
            display: flex;
            height: 40px;
            margin-left: 400px;
            align-items: center;
            justify-content: flex-end;


            .searchInput {
                background: none;
                width: 100%;
                outline: none;
                border: none;
                border-radius: 10px;
                padding-left: 15px;
                font-size: 1rem;

            }

            .searchButton {
                border: none;
                cursor: pointer;
                color: #1B2F76;
                width: 40px;
                margin-right: 10px;
                margin-left: 5px;
                border-left: 2px solid #efefef;
                background: none;
                display: flex;
                justify-content: center;
                align-items: center;


                .searchIcon {
                    width: 18px;
                }

            }
        }
    }
}


.banner {
    background-color: #1B2F76;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease;
    position: relative;
    font-size: 1rem;
    height: 25px;

    .close-banner {
        position: absolute;
        right: 50px;
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.1s ease;
        font-size: 1.2rem;

        &:hover {
            color: rgb(238, 237, 237);
        }
    }
}

.secondHeader {
    display: flex;
    width: 100%;
    border-top: 1px solid rgb(238, 237, 237);
    height: 60px;

    .sleepFurniture {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        margin-left: 60px;
        font-size: 1rem;
        font-family: 'Lato', sans-serif;

        .blockSleep {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .a {
            text-decoration: none;
            color: inherit;


            &:hover {
                color: rgba(27, 47, 118, 0.68);
            }
        }
    }

    .schoolBlock {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 40%;

        .backToSchool,
        .clearance {
            font-size: 1rem;
            font-weight: bold;
            margin-right: 45px;
            font-family: 'Lato', sans-serif;

            &:hover {
                cursor: pointer;
                transition: color 0.5s ease;
            }
        }

        .backToSchool {
            color: rgba(27, 47, 118, 0.75);
        }

        .clearance {
            color: #BF002D;
            transition: box-shadow 0.1s;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
        transition: color 0.5s ease;
    }
}

@media (max-width: 1440px) {
    .header .firstHeader .Logo {
        min-width: 20%;
        margin-left: 80px
    }

    .time {
        font-size: 0.9rem;
    }

    .Richmond {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 3px;
    }

    .Vector {
        margin-right: 5px;
        font-size: 0.8rem;
        width: 10px;
    }

    .secondVector {
        margin-left: 2px;
        width: 10px;
    }

    .header .firstHeader .searchDiv {
        margin-left: 300px;
    }

    .header .secondHeader .sleepFurniture {
        font-size: 0.7rem;
    }

    .header .secondHeader .schoolBlock .clearance {
        font-size: 0.7rem;
    }

    .header .secondHeader .schoolBlock .backToSchool {
        font-size: 0.7rem;
    }
}

@media (max-width: 1024px) {

    .header .secondHeader {
        height: 40px;
    }

    .header .firstHeader {
        height: 40px;
    }

    .header .firstHeader .Logo {
        min-width: 15%;
        margin-left: 80px
    }

    .time {
        font-size: 0.6rem;
    }

    .Richmond {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 0.6rem;
        margin-bottom: 3px;
    }

    .Vector {
        margin-right: 2px;
        font-size: 0.5rem;
        width: 6px;
    }

    .secondVector {
        margin-left: 1px;
        width: 5px;
    }

    .header .firstHeader .searchDiv {
        margin-left: 180px;
        height: 20px;
    }

    .header .firstHeader .searchDiv .searchButton {
        width: 8px;
    }

    .header .firstHeader .searchDiv .searchButton .searchIcon {
        width: 10px;
    }

    .header .firstHeader .searchDiv .searchInput {
        height: 20px;
        font-size: 0.5rem;
    }

    .header .secondHeader .sleepFurniture {
        font-size: 0.5rem;
    }

    .header .secondHeader .schoolBlock .clearance {
        font-size: 0.5rem;
    }

    .header .secondHeader .schoolBlock .backToSchool {
        font-size: 0.5rem;
    }

    .banner {
        font-size: 0.7rem;
    }

    .cart {
        width: 35px;
    }
}

@media (max-width: 768px) {
    .header .secondHeader {
        height: 30px;
    }

    .header .firstHeader {
        height: 30px;
    }

    .header .firstHeader .Logo {
        width: 20%;
        margin-left: 60px
    }

    .time {
        display: none;
    }

    .Richmond {
        display: none;
    }

    .Vector {
        display: none;
    }

    .secondVector {
        display: none;
    }

    .header .firstHeader .searchDiv {
        margin-left: 100px;
        height: 18px;
        width: 100%;
    }

    .header .firstHeader .searchDiv .searchButton {
        width: 6px;
    }

    .header .firstHeader .searchDiv .searchButton .searchIcon {
        width: 8px;
    }

    .header .firstHeader .searchDiv .searchInput {
        height: 18px;
        font-size: 0.4rem;
    }

    .header .secondHeader .sleepFurniture {
        font-size: 0.4rem;
        margin-left: 25px;

    }

    .header .secondHeader .schoolBlock .clearance {
        font-size: 0.4rem;
        margin-right: 20px;
    }

    .header .secondHeader .schoolBlock .backToSchool {
        font-size: 0.4rem;
        margin-right: 15px;

    }

    .banner {
        font-size: 0.5rem;
    }

    .cart {
        width: 35px;
    }
}
